*{
    margin: 0;
    padding: 0;
}

.adm, .designer, .tecnologia, .moda, .rh{
    background-color: #ccc;
    border-radius: 5px;
    display:inline-block;
    padding: 5px;
    margin: 60px 7px 30px 6px;
    width: 18%;
}

.cursos h3{
    text-align: center;
    font-size: 25px;
}

.cursos p{
    text-align: center;
}



.cursos {
    line-height: 30px;
    padding: 3px 3px 5px 3px;
}

.imagem{
    margin-right: 20px;
}

#rodape{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px;
    padding: 10px;
}

#rodape p{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 30px;
}

.menu{
    padding: 5px;
    width: 100%;
    background-color: #ccc;
    margin: 30px auto;
    text-align: center;
}

.menu a{
    padding-right: 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 0 10px;
    border-right: 3px solid white;
}

